# Supabase Public API URL & Anon Key
NEXT_PUBLIC_SUPABASE_URL=https://rlwgayvbkizacjufnbrg.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsd2dheXZia2l6YWNqdWZuYnJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0ODIyODMsImV4cCI6MjEwMzA1ODI4M30.nEaXYsJ6cQ3IBAI19QNh3JHJEODusZ1WZ_Nf168LPCM

# Supabase Private Service Role Key (Keep Secret / Server-side only)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsd2dheXZia2l6YWNqdWZuYnJnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzQ4MjI4MywiZXhwIjoyMTAzMDU4MjgzfQ.F1F5sUHZ-hwj67EoEV_X2I7Fw4f204vVfyZkH21Ifxw
